.content {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 56px;
    bottom: 56px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.LandingButton{
    display: inline-block;
}
.postSpacer{
    height: 5px;
}
.LandingButtonWrapper{
    display: block;
    text-align: center;
    margin: auto;
}
h1{
    display: inline-block;
}
.mainToolbar {
    align-content: center;
}
.accountHeading{
    top-margin: 30px;
    height: 15vh;
    display: flex;
    flex-direction: column;
}